@model IEnumerable<ECommerceApp.Models.Cart>

<h1>Carts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Cart</a>
</p>

<table class="tabel table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cart in Model)
        {
            <tr>
                <td>@cart.CartId</td>
                <td>@cart.UserId</td>
                <td>@cart.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>@cart.Items.Count</td>
                <td>
                    <a asp-action="Details" asp-route-id="@cart.CartId"></a>
                    <a asp-action="Edit" asp-route-id="@cart.CartId"></a>
                    <a asp-action="Delete" asp-route-id="@cart.CartId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>